{
    "pufferpanel": {
        "host": "",
        "protocol": "",
        "serverid": "",

        "email": "",
        "password": ""
    },
    "discord": {
        "bot_token": "",
        "chat_channel": "",
        "console_channel": ""
    }
}